 <footer>
        <h4>Follow us</h4>
        <div class="social-icons">
            <div><i class="fa-brands fa-facebook"></i></div>
            <div><i class="fa-brands fa-twitter"></i></div>
            <div><i class="fa-brands fa-instagram"></i></div>
            <div><i class="fa-brands fa-youtube"></i></div>
            <div><i class="fa-brands fa-linkedin"></i></div>
            <div><i class="fa-brands fa-discord"></i></div>
        </div>
        <hr>
        <h4> @Copyright <a href="">www.myshoe.com</a>.All rights reserved</h4>
    </footer>
