 <div class="navbar">
                <div class="logo">
                    <span class="my">MY</span><span class="shoe">SHOE</span>
                </div>
                <nav>
                    <ul class="ullist">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/product">Product</a></li>
                        <li id="nav-login"><a href="/contact">Login/Register</a></li>
                    </ul>
                </nav>
                <div class="menulogo">
                    <img src="img/menulogo.png" alt="">
                </div>
            </div>