<!DOCTYPE html>
<html lang="en">

<head>
 {{>head}}
</head>

<body>
    <div class="container">
    {{>navbar}}

    </div>


    <section>
        <div>
            <h1>THIS IS A ABOUT US PAGE</h1>
        </div>
    </section>
    {{>footer}}
    <script src="script/script.js"></script>
</body>

</html>