 <!DOCTYPE html>
 <html lang="en">
 <head>
   {{>head}}
 </head>
 <body>
    <div class="container">
        {{>navbar}}
           <div class="form"></div>
    <div class="form-container">
        <div class="close"><i class="fa-solid fa-xmark"></i></div>
        <div class="btn-back"></div>
        <div class="btn-box">
            <button class="button" id="login-btn">Login</button>
            <button class="button" id="register-btn">Register</button>
        </div>

        <form action="/login" method="post" class="login">
            <input type="text" name="username" class="login-item" placeholder="Username">
            <input type="password" name="password" class="login-item" placeholder="Password">
            <input type="checkbox"><span>Remember My Details</span>
            <input type="submit" class="submit" value="login">
        </form>
        <form action="/register" method="post" class="register">
            <input type="text" name="username" class="login-item" placeholder="Username">
            <input type="email" name="email" class="login-item" placeholder="Email">
            <input type="password" name="password" class="login-item" placeholder="Password">
            <input type="checkbox"><span>I agree terms and conditions</span>
            <input type="submit" class="submit" value="Register">
        </form>
    </div>
    </div> 
    </div>
    {{>footer}} name=""
  <script src="script/script.js"></script>
 </body>
 </html>